@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

/* Basic styles */

.row {
  text-align: center;
}

.rate {
  display: inline-block;
  margin: 20px;
  padding: 0;
  border: none;
}
#rateButon{
  padding: 12px 12px;
  display: inline-block;
  font-size: 15px;
  border-radius: 40%;
  margin: 31px 5px;
}

input {
  display: none;
}

label {
  float: right;
  font-size: 0;
  color: #d9d9d9;
}

label:before {
  content: "\f005";
  font-family: FontAwesome;
  font-size: 40px;
}

label:hover,
label:hover ~ label {
  color: #fcd000;
  transition: 0.2s;
}

input:checked ~ label {
  color: #ccac00;
}

input:checked ~ label:hover,
input:checked ~ label:hover ~ label {
  color: #fcd000;
  transition: 0.2s;
}


/* Half-star*/

.star-half {
  position: relative;
}

.star-half:before {
  position: absolute;
  content: "\f089";
  padding-right: 0;
}
