@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

/* Basic styles */

  .star .row  {
    text-align: center;
  }

  .star.rate1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
  }

  .star input {
    display: none;
  }

  .star label {
    float: right;
    font-size: 0;
    color: #d9d9d9;
    cursor: pointer;
  }

  .star label:before {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 40px;
  }

  .star label:hover,
  .star label:hover ~ label {
    color: #fcd000;
    transition: 0.2s;
  }

  .star input:checked ~ label {
    color: #ccac00;
  }

  .star input:checked ~ label:hover,
  .star input:checked ~ label:hover ~ label {
    color: #fcd000;
    transition: 0.2s;
  }


  .container {
      display: table;
      height: 65%;
      position: absolute;
      overflow: hidden;
      width: 100%;
  }
  .helper {
      #position: absolute;
      #top: 50%;
      display: table-cell;
      vertical-align: middle;
  }
  .content {
      #position: relative;
      #top: -50%;
      margin: 0 auto;
      width: 200px;
      /* border: 1px solid orange; */
  }
