@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

/* Basic styles */

  .star,row  {
    text-align: center;
  }

  .star.rate1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
  }

  .star input {
    display: none;
  }

  .star label {
    float: right;
    font-size: 0;
    color: #d9d9d9;
    cursor: pointer;
  }

  .star label:before {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 40px;
  }

  .star label:hover,
  .star label:hover ~ label {
    color: #fcd000;
    transition: 0.2s;
  }

  .star input:checked ~ label {
    color: #ccac00;
  }

  .star input:checked ~ label:hover,
  .star input:checked ~ label:hover ~ label {
    color: #fcd000;
    transition: 0.2s;
  }



/* Half-star*/

.star-half {
  position: relative;
}

.star-half:before {
  position: absolute;
  content: "\f089";
  padding-right: 0;
}

/* percentage star */
/*---------- general ----------*/
body {
  background: #ff7070;
  color: #F3FCF0;
  font-family: sans-serif;
  text-align: center;
}

/*---------- star rating ----------*/
.star-rating, .back-stars, .front-stars {
  display: flex;
}

.star-rating {
  align-items: center;
  font-size: 3em;
  justify-content: center;
  margin-top: 50px;
  height:50px;
  position:relative;
  width: 145px;
}

.back-stars {
  color: #bb5252;
  position: absolute;
  right:0;
  left:0;
  top:0;
  bottom:0;
  text-shadow: 4px 4px 10px #843a3a;
}

.front-stars {
  color: #FFBC0B;
  position: absolute;
  left:0;
  top:0;
  overflow:hidden;
  bottom:0;
  text-shadow: 2px 2px 5px #d29b09;
  top: 0;
}
/* percentage star end*/
